---
layout: default
title: 首页
---

<div class="posts">
    {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date ">{{ post.date | date: "%Y-%m-%d" }}</span>
  

 
    {% if post.content contains '<!--more-->' %}
      {{ post.content | split:'<! --more-->' | first }}
    {% else %}
      {{ post.excerpt }}
    {% endif %}
    
  </div>
  {% endfor %}
</div>

<nav>
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">&lt;上一页</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">&lt;上一页</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">&lt;上一页</span>
  {% endif %}

  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">下一页&gt;</a>
  {% else %}
    <span class="pagination-item older">下一页&gt;</span>
  {% endif %}
</div>
</nav>