<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <meta name="theme-color" content="#558B2F">

  <link rel="icon" sizes="100x100" href="{{ site.baseurl }}public/logo_white_100w.png">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">

<!-- 使用360 的google font镜像，替换官方镜像 -->
    <link rel="stylesheet" href="http://fonts.useso.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">


    <!-- Icons -->
                                 <link rel="shortcut icon" href="{{site.baseurl}}public/favicon.ico">
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- <link href="http://cdn.bootcss.com/prettify/r298/prettify.min.css" rel="stylesheet" media="all" > -->

<!-- 使用自定义prettify的css，代码风格和github一样 -->
  <link rel="stylesheet" type="text/css" href="/public/google-code-prettify/prettify.css">
<style type="text/css">
  

pre.prettyprint {
    display: block;
    overflow: auto;
    width: auto;
    white-space: pre;
    word-wrap: normal;
    padding: 10px;   
}

</style>


</head>
