<head>

  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <meta name="theme-color" content="#558B2F">

    {% if page.tags %}
      <meta name="keywords" content="{{ page.tags | join: ', ' }}">
      {% elsif site.keywords %}
<meta name="keywords" content="{{ site.keywords | join: ', ' }}">

    {% endif %}
  {% if page.url == site.baseurl %}
    <meta name="description" content="{{ site.description }}">  
    
    {% elsif page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html | truncate: 190 }} - {{  site.author.name }}">
    {% endif %}
<meta name="author" content="{{ site.author.name }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" sizes="100x100" href="{{ site.baseurl }}public/logo_white_100w.png">


  <title>
    {% if page.url == site.baseurl %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">




    <!-- Icons -->
                                 <link rel="shortcut icon" href="{{site.baseurl}}public/favicon.png">
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- <link href="http://cdn.bootcss.com/prettify/r298/prettify.min.css" rel="stylesheet" media="all" > -->

<!-- 使用自定义prettify的css，代码风格和github一样 -->
<!--   <link rel="stylesheet" type="text/css" href="/public/google-code-prettify/prettify.css"> -->
<style type="text/css">
  
  code {
    word-break: break-all;
  }

pre.highlight {
    display: block;
    overflow: auto;
    width: auto;
    white-space: pre;
    word-wrap: normal;
    padding: 10px;   
}

</style>


</head>
